body {
    @include breakpoint(tablet) {
        background-image: url(../img/hero_img.png);
        background-repeat: no-repeat;
        background-position: 120% 0;
        background-size: 400px;
    }

    @include breakpoint(tablethorizontal) {
        background-position: 100% 0;
        background-size: 500px;
    }

    @include breakpoint(desktop) {
        background-position: 100% 0;
        background-size: 600px;
    }
}