.hero {
    margin-bottom: 60px;
    &__title {
        margin-bottom: 26px;
        font-size: 40px;
        font-weight: 700;
        line-height: 51px;
    }

    &__subtitle {
        margin-bottom: 26px;
        color: $grey;
        line-height: 26px;
    }

    &__buttons {
        margin-bottom: 40px;  
    }

    &__img {
        text-align: center;
        width: 80%;
        margin-left: 10%;
        position: relative;
        img {
            max-width: 80%;
        }
        @include breakpoint(tablet) {
            width: 50%;
            margin: 0;
        }
        @include breakpoint(tablethorizontal) {
            height: 500px;
        }
        @include breakpoint(desktop) {
            width: 400px;
        }
    }

    &__number {
        display: inline-block;
        width: max-content;
        background-color: white;
        color: $darkblue;
        padding: 5px;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        position: absolute;
        border-radius: 1rem;
        box-shadow: 0 10px 50px $grey;

        span {
            display: block;
        }

        &-title {
            font-size: 14px;
            color: $grey;
        }

        &-number {
            color: $darkblue;
            font-size: 32px;
            font-weight: 700;
        }

        &-1 {
            position: absolute;
            padding: 16px 20px;
            top: 0;
            right: 0;
            @include breakpoint(tablet) {
                top: -130px;
                box-shadow: none;
            }
            @include breakpoint(tablethorizontal) {
                top: 70px;
                right: 100px;
            }
            @include breakpoint(desktop) {
                top: 30px;
                right: 150px;
            }
            @include breakpoint(desktopxl) {
                top: 30px;
                right: 40px;
            }
        }
        &-2 {
            position: absolute;
            padding: 16px 45px 16px 20px;
            bottom: 0;
            left: 0;
            @include breakpoint(tablet) {
                left: 34px;
                bottom: -140px;
            }
            @include breakpoint(tablethorizontal) {
                left: -20px;
                bottom: 100px;
            }
            @include breakpoint(desktop) {
                left: -160px;
                bottom: 100px;
            }
            @include breakpoint(desktopxl) {
                left: -50px;
                bottom: 100px;
            }
        }
    }

    &__img-mobile {
        @include breakpoint(tablet) {
            display: none;
        }
    }

    .container {
        @include breakpoint(tablet) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @include breakpoint(tablethorizontal) {
            align-items: center;
        }

        @include breakpoint(desktop) {
            padding-bottom: 50px;
        }
    }

    &__content {
        @include breakpoint(tablet) {
            width: 50%;
        }
        @include breakpoint(tablethorizontal) {
            width: 40%;
        }
        @include breakpoint(desktop) {
            max-width: 400px;
        }
    }
}